@media(max-width:1200px){
    .lk-left,.lk-right {
        min-width: 286px;
        margin-right: 20px;
    }
    .feedback-block{flex-direction: column;}
    .fotm-right-ver2 {margin-bottom: 30px;}
    .feedback-block .feedback-notation_text {max-width: inherit;}

    .form-reg-group {flex-wrap: wrap;}

}

@media(max-width:1024px){
    .sertificatall {justify-content: center;}
}

@media(max-width:992px){

.img-block1 {height: 500px;}  
.img-block2 {flex-wrap: wrap;}
.img-block2_1{height: 500px;width: 100%; flex:1 100%}
.img-block2_2{height: 500px;width: 100%; flex:1 100% }
.img-block3_1{height: 500px;width: 100%; flex:1 100%}
.img-block3_2{height: 500px;width: 100%; flex:1 100%}

}
@media(max-width:900px){
    .prod-menu{display: none;}
    .prod-head-mobi {
        display: block;
    }
    .prod-head {
        padding: 8px 15px 0px 30px;
    }
    .prod-head-mobi{
        display: block;
        .menu2{
            border-top: 1px solid #F0E1CE;
          //  border-bottom: 1px solid #F0E1CE;
            padding: 15px;
            display: flex;
            align-items: center;
            margin-left: -15px;
            margin-right: -15px; 
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #373737;
            &.active{
                img{transform: rotate(90deg);}
            }
            span{flex: 1;}
        }
        .prod-menu-ul-mobi{
            height:0; padding: 0;margin: 0;list-style: none;
            transition: 0.3s all ;
            &.active{
                max-height: 700px;height: auto;margin-bottom: 15px;
            }
            overflow: hidden;
            a{
                display: flex;
                align-items: center;
                padding: 10px 0;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                color: #373737;
                &:hover{
                    color:#E95235;
                }
            };
            img{
                width: 54px;
            }
            i{padding-left: 30px;}
        }
    }
}

@media(max-width:768px){
    .lk-block-all{padding: 25px 15px; }
    .feedback-block .fotm-right{width: inherit;margin-right: inherit;}
    .form-reg-group .form-reg-item{margin-right: inherit;}
    .feedback {margin: 15px 15px  ;}
    .miw240 {min-width: 220px;}
}

@media(max-width:568px){
    .right.right-bkg::after {
        content: "";background: none;
    }
}

@media(max-width:383px){}