.menu{
    &>li{
       position: static; 
    }
    .submenu1{
        padding: 0;margin: 0;
        list-style: none;
        position: absolute;
        left:256px;
        z-index: 10;
        width: 0px;
        background:#fff ;
        top: 0;
        overflow: hidden;
        font-size: 0.7em;
        top: -72px;
        li{border-bottom: 1px solid #ccc;}
        a{
            color:#333; 
        }
    }
    .submenu1.active{
        width: 270px;
        transition: 0.1s all;
        font-size: inherit;
    }

}
.prod-content.active{
    margin-left: 270px;
    border-left:1px solid #ccc ;
    transition: 0.3s all;
}
.shared-center.active{
    margin-left: 270px;
    border-left:1px solid #ccc ;
    transition: 0.3s all;
}


.submenu1{
    .p-menu-b{
        padding: 21px 55px !important;
        img{
            width: 50%;
            transition: 0.3s all;
        }
    }
    &.active{
        .p-menu-b{
            padding: 21px 55px !important;
            img{
                width: 100%;
                transition: 0.3s all;
                max-width: 150px;
            }
        }
    }

}

@media(max-width:992px){
    .menu .submenu1.active {
      /*  background: #fff;*/
      position: absolute;
       // height: 100vh;
        border-right: 1px solid #ccc;
    }
    .prod-content.active {
        margin-left: 0px;
    }
}

.mobi-menu{display: none;}
@media(max-width:767px){
    .menu .submenu1.active {
        margin: -1px 0;
        height: 100vh;
        top: -14px;
        h1{
            margin-left: 45px;
            font-size: 32px;
        }
        .shared-left{
            min-width: 0;
            li{
                border: none;
                margin: 0;
            }
            a{
                text-transform:initial ;
                padding: 7px 48px;
            }
        }
    }
    .mobi-menu{
        height: 56px;
        width: 100%;
        display: flex;
        align-items: center;
        background: #E95235;
        r-mob{
            display: flex;
        }
        .mini-cart{
            box-shadow: none;
            background:  #F0E1CE;
            right:65px;
            top: 11px;
            .sht {
                top: -8px;
                right: -11px;
               
            }
        }
    }
    .burger{
        display: inline-block;
        padding:0 20px 0 15px;
        position: relative;
        &.active::before{
            content: "";
            position: absolute;
            background: url(../img/ico/close.svg) center no-repeat;
            background-color: #E95235;
            background-size: cover;
            width: 18px;
            height: 18px;
            left: 13px;
            top: 0px;
        }
    }
    .logo-mobi-b{
        flex: 1;
    }
    .logo-mobi{
        img{height: 40px;}
    }
    .autorize{
        padding: 0 15px 0 0;
    }
    .prod-head {
        padding: 8px 15px 30px 15px !important;
    }
    
    .left{
        padding: 0;
        position: absolute;
        z-index: 100;
        left:-100%;
        height: 100%;
        transition: 0.3s all;
    }
    .left.active{
        left: 0;
        transition: 0.3s all;
        margin-top: -1px; ;
    }
    .logo{display: none;}
    .lic-kab{display: none;}
    .right{margin-left: 0px;}
    footer{padding-left: 0px;text-align: center;}
    .footer-c {padding: 0 ;}
}
@media(max-width:567px){
    .menu .submenu1.active {left:78px;width: calc(100% - 80px);}
    .left{width: 100%;}

}
@media(max-width:470px){
    footer{flex-direction: column;}
    .footer-c{order: 2;}
}

@media(max-width:350px){
    .menu .submenu1.active {
        width: 253px !important;
        h1{font-size: 28px;text-align: left;margin-left: 30px;}
        .shared-left a{text-transform:initial;padding: 7px 30px;}
    }
    .menu .submenu1 a {
        color: #333;
        font-size: 12px;
        padding: 20px;
    }
    .submenu1.active .p-menu-b {
        padding: 17px 35px !important;
    }
}




